
# Terraform / AWS Lambda Artifacts
*.zip
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info

# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Arquivos do SO
.DS_Store